{% extends 'base.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block body %}

    {% include('admin/_menu.html.twig') %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">

                        <div class="box-header with-border">
                            <h3 class="box-title">Обновить</h3>
                        </div>

                        {{ include('admin/car/_form.html.twig', {'button_label': 'Update'}) }}

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <a href="{{ path('admin_car_index') }}">back to list</a>
    {{ include('admin/car/_delete_form.html.twig') }}
{% endblock %}