{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}

    {% include('admin/_menu.html.twig') %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Авто</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Номер</th>
                                    <th>Название</th>
                                    <th>actions</th>
                                </tr>

                                <tr>
                                    <td>{{ car.id }}</td>
                                    <td>{{ car.number }}</td>
                                    <td>{{ car.title }}</td>
                                    <td>
                                        <a href="{{ path('admin_car_show', {'id': car.id}) }}">Покозать</a>
                                        <a href="{{ path('admin_car_edit', {'id': car.id}) }}">Редактировать</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <a href="{{ path('admin_car_index') }}">back to list</a>

    <a href="{{ path('admin_car_edit', {'id': car.id}) }}">edit</a>

    {{ include('admin/car/_delete_form.html.twig') }}
{% endblock %}