{{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="box-body">

        <div class="form-group">
            {{ form_label(form.title) }}
            <div class="col-sm-10">
                {{ form_widget(form.title) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            <div class="col-sm-10">
                {{ form_widget(form.price) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.car) }}
            <div class="col-sm-10">
                {{ form_widget(form.car) }}
            </div>
        </div>


    </div>

    <div class="box-footer">
        <button class="btn btn-info pull-right">
            {{ button_label|default('Сохранить') }}
        </button>
    </div>
{{ form_end(form) }}