{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}

    {% include('sto/_menu.html.twig') %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">

                        <div class="box-header with-border">
                            <h3 class="box-title">Новый счет</h3>
                        </div>

                        {{ include('admin/invoice/_form.html.twig') }}

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}