<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control">
                <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Счет</li>
            <li>
                <a href="{{ path('sto_invoice_index') }}">
                    <i class="fa fa-list"></i>
                    <span>Счет лист</span>
                </a>
            </li>
            <li>
                <a href="{{ path('sto_invoice_new') }}">
                    <i class="fa fa-plus-circle"></i>
                    <span>Добавить новый счет</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>