<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/_all-skins.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="hold-transition skin-blue layout-boxed sidebar-mini">
        <div class="wrapper">
            {% include('header/header.html.twig') %}
            {% block body %}{% endblock %}


            <footer class="main-footer">

            </footer>
            <div class="control-sidebar-bg"></div>

            <!-- jQuery 3 -->
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ asset('assets/js/fastclick.js') }}"></script>
            <script src="{{ asset('assets/js/adminlte.min.js') }}"></script>
            <script src="{{ asset('assets/js/demo.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
